body {
    background: rgb(114, 168, 255);
    font-family: sans-serif;
  }

#maintitle {
  text-align: center;
}

.boxtitle {
  font-variant: small-caps;
  padding-top: 1px;
  padding-left: 10px;
}

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 255, 0.25);
  width: 50%;
}

.box p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

